<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>884DF6621AF6E96700D97D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8892FA9D1AF6E4DA00F2D347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8892FAA81AF6E4DA00F2D347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
